.flex-container {
  margin: 5%;
  flex-wrap: wrap;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  text-align: center;
  .transactions {
    align-self: flex-end;
  }
}
