.container {
  text-align: center;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  margin: 3%;
  table {
    margin: 4%;
    th, td {
      padding: 10px
    }
  }
  .exp {
    color: red;
  }
}