table {
  margin-top: 5%;
}
tr {
  border: 1px solid black;
  &:nth-child(even) {
    background-color: lightgray;
  }
  td {
    margin: 4px;
  }
}
.btn-container {
  display: flex;
  justify-content: space-evenly;
}
.exp {
  color: red
}
.inc {
  color: green
}